/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  margin: 0;
  padding: 0;
  /* border-left: solid 5px rgb(212, 212, 212);
  border-top: solid 5px rgb(212, 212, 212);
  border-bottom: solid 5px rgb(143, 143, 143);
  border-right: solid 5px rgb(143, 143, 143); */
}

footer {
display: flex;
width: 100%;
height: 5vh;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgb(226, 226, 226);
border-top: solid 2px #333;
}

/* Header --------------------------------------- */
.header-sec {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  border-bottom: solid 1px #333;
}

.sml-nav-sec {
display: flex;
align-items: center;
width: 100%;
height: 50vh;
flex-direction: column;
border-bottom: solid 1px #333;
}

.nav-links-bar {
  display: flex;
  width: 100vw;
  height: 5vh;
  background-color: rgb(226, 226, 226);
  border-bottom: solid 2px #333;
}

.nav {
width: 100%;
flex-direction: row;
justify-content: space-between;
align-items: center;
display: flex;
width: 100%;
padding-left: 20px;
padding-right: 20px;
}

.bb-add {
  height: 100px;
  width: 800px;
  border: solid 1px #333;
  margin: 20px;
}

/* Hero --------------------------------------- */
.hero-sec {
  display: flex;
  height: 100%;
  min-height: auto;
  flex-direction: column;
  align-items: center;
}

.selections-container {
margin-top: 60px;
margin-bottom: 60px;
display: flex;
flex-direction: row;
}

.selection-div {
border: solid 1px #333;
height: 600px;
width: 600px;
margin: 20px;
}

/* Item cards section -------------------------- */
.items-sec {

}

.cards-row-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-top: 50px;
margin-bottom: 50px;
}

.item-card {
width: 300px;
height: auto;
border: solid 1px #333;
}

.item-img-div {
height: 300px;
width: 100%;
background-color: rgb(233, 233, 233);
}

.item-card-content {

}

.mid-card {
margin-left: 30px;
margin-right: 30px;
}

.link-to-item {
padding-right: 30px;
}

/* Item details page ---------------------------- */
.item-details-sec {
display: flex;
flex-direction: row;
width: 100%;
height: 100%;
}

.item-details-container {
border: solid 1px #333;
width: 100%;
height: 100%;
margin-top: 20px;
margin-bottom: 20px;
padding: 20px;
}

.item-top-info {
display: flex;
flex-direction: row;
border: solid 1px #333;
height: 100%;
width: auto;
padding: 10px;
margin-bottom: 20px;;
}

.item-img {
border: solid 1px #333;
width: 100%;
height: 50vh;
background-color: rgb(226, 226, 226);
margin-right: 10px;
}

.item-bio {
border: solid 1px #333;
width: 100%;
margin-left: 10px;
}

.item-bottom-info {
display: flex;
flex-direction: row;
border: solid 1px #333;
height: 100%;
width: auto;
padding: 10px;
margin-bottom: 20px;
}

.item-vid {
height: 50vh;
width: 100%;
border: solid 1px #333;
margin-right: 10px;
background-color: rgb(173, 173, 173);
}

.item-photo {
height: auto;
width: 100%;
border: solid 1px #333;
margin-left: 10px;
background-color: rgb(226, 226, 226);
}

/* Login page / Signup page */
.login-sec {
margin: 40px;
}